@{
    ViewBag.Title = "Home Page";
}
<h1>
    Simple Placeholder Demo
</h1>
<div class="row">
    <div class="col-md-6 text-center" >
        <img src="/placeholder/t/320/240/aaa/eee" alt="demo from template"/>
    </div>    
    <div class="col-md-6 text-center">
        <img src="/placeholder/c/320/240/eee/aaa" alt="demo from create" />
    </div>
</div>