.product-section {
    padding-top: 3rem !important;
}

.card {
    height: 100%;
    margin: 15px;
}

.product-item {
    margin-left: 1rem;
    margin-bottom: 0.5rem;
}

.product-row {
    margin-bottom: 2rem;
}
