//
// Left side navigation
//
.td-sidebar-nav {
    padding-right: 0.5rem;
    margin-right: -15px;
    margin-left: -15px;
    font-size: .9rem;

    @include media-breakpoint-up(md) {
        @supports (position: sticky) {
            //max-height: calc(100vh - 10rem);
            //overflow-y: auto;
        }
    }


    @include media-breakpoint-up(md) {
        display: block !important;
    }


    &__section {
        li {
            list-style: none;
        }

        ul {
            padding: 0;
            margin: 0;
        }

        @include media-breakpoint-up(md) {
            & > ul {
                padding-left: .5rem;
            }
        }


        padding-left: 0;
    }

    &__section-title {
        display: block;
        font-weight: $font-weight-medium;
        margin-bottom: 7px;

        .active {
            font-weight: $font-weight-bold;
        }

        a {
            color: $gray-900;
        }
    }

    .td-sidebar-link {
        display: block;
        padding-bottom: 0.375rem;

        &__page {
            color: $gray-700;
            font-weight: $font-weight-light;
        }
    }

    a {
        &:hover {
            color: $blue;
            text-decoration: none;
        }

        &.active {
            font-weight: $font-weight-bold;
        }
    }

    .dropdown {
        a {
            color: $gray-700;
        }

        .nav-link {
             padding: 0 0 1rem;
        }
    }
}

.td-sidebar {
    @include media-breakpoint-up(md) {
        padding-top: 0;
        background-color: $td-sidebar-bg-color;
        padding-right: 0;
        padding-bottom: 0;
        // border-right: 1px solid $td-sidebar-border-color;
    }


    padding-bottom: 1rem;

    &__toggle {
        line-height: 1;
        color: $gray-900;
        margin: 1rem;
    }

    &__search {
        padding: 1rem 15px;
        padding-top: 3px;
        margin-right: -15px;
        margin-left: -15px;
    }

    &__inner {
        order: 0;

        @include media-breakpoint-up(md) {
            top: 1rem;
        }


        @include media-breakpoint-up(xl) {
            flex: 0 1 320px;
        }


        .td-search-box {
            width: 100%;
        }
    }

    .icon
    {
        float: left;
        font-size: 10px; 
        padding-right: 3px;
        margin-top: .3rem; 
        margin-right: 8px;
    }

    .closed-icon
    {
        transform: rotate(-90deg);
    }

    .icon-dot
    {
        text-align: right;
        width: 12px;        
        margin-top: 0.4rem;
        font-size: 4px;
    }

    .collapsable-menu-icon {
        cursor: pointer;
    }
}

.add-scroll::-webkit-scrollbar {
    -webkit-appearance: none;
    width: .25rem;
}

.add-scroll::-webkit-scrollbar:vertical {
    width: .25rem;
}

.add-scroll::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
}

.add-scroll::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
}

@media (min-width: 768px) {
    .add-scroll {
        overflow-y: auto;
        overflow-x: hidden;
        position: sticky;
        top: .001rem;
        max-height: calc(100vh - 5rem);
        padding: 1rem 1rem 0rem 1em;
        top: 6rem;
    } 
}