<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <add key="tools" value="https://nexus.saltov.dynabic.com/repository/tools" />
  </packageSources>
  <packageSourceCredentials>
    <tools>
      <add key="Username" value="ci.tools.reader" />
      <add key="ClearTextPassword" value="Q94Rj>-72;F'MI#jY9c\" />
    </tools>
  </packageSourceCredentials>
</configuration>