@{
    ViewBag.Title = "Aspose.HTML Charts Demo";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<ul>
    <li><strong>Website:</strong> <a href="http://www.aspose.com" rel="nofollow">www.aspose.com</a></li>
    <li><strong>Product Home:</strong> <a href="https://products.aspose.com/html/net" rel="nofollow">Aspose.HTML for .NET</a></li>
    <li><strong>Download:</strong> <a href="https://www.nuget.org/packages/Aspose.HTML" rel="nofollow">Download Aspose.HTML for .NET</a></li>
    <li><strong>Documentation:</strong> <a href="https://docs.aspose.com/display/htmlnet/Home" rel="nofollow">Aspose.HTML for .NET Documentation</a></li>
    <li><strong>Forum:</strong> <a href="https://forum.aspose.com/c/html" rel="nofollow">Aspose.HTML for .NET Forum</a></li>
    <li><strong>Blog:</strong> <a href="https://blog.aspose.com/category/aspose-products/aspose-html-product-family/" rel="nofollow">Aspose.HTML for .NET Blog</a></li>
    <li><strong>Twitter:</strong> <a href="https://www.twitter.com/AsposeHTML" rel="nofollow">Aspose.HTML in Twitter</a></li>
    <li><strong>Facebook:</strong> <a href="https://www.facebook.com/AsposeHTML" rel="nofollow">Aspose.HTML in Facebook</a></li>
</ul>
